body {
    font-family: sans-serif;
    background-color:rgb(247, 247, 247);
}

.header_img {
    width:100%;
    height:80%;
}

.p1 {
    font-size:150%;
    position: absolute;
    top:17%;
    left:3%;
}

.p2 {
    font-size:260%;
    position: absolute;
    top:19%;
    left:2.8%;
}

.red {
    color: red;
}

.border_p {
    border:3px solid black;
    border-radius:10px;
    padding:2px;
}

.p3 {
    font-size:150%;
    position: absolute;
    top:31%;
    left:3%;
}

.header_a {
    font-size:100%;
    position: absolute;
    top:49%;
    left:3%;
    text-decoration: none;
    color:white;
    background-color: black;
    border:1px solid black;
    border-radius:15px;
    padding:10px;
}

.logo {
    width: 3%;
    margin-left:100px;
    padding-top:7px;
}

.sticky {
    position:sticky;
    top:0;
    z-index:1;
    background-color:white;
    box-shadow:0 3px 5px 0 rgb(234, 234, 234);
}

nav a {
    text-decoration:none;
    color:black;
    padding-right:55px;
}

nav a:hover {
    color:orange;
}

nav {
    position:absolute;
    top:35%;
    padding-left:16%;
}

.left {
    position: relative;
    float: left;
    left: 0px;
    width:47%;
    height:50%;
    background-color:white;
    margin-bottom: 20px;
}

.right {
    position: relative;
    width:47%;
    height:50%;
    top:90%;
    left:1.5%;
    background-color:white;
    float: left;
    margin-left: 40px;
}

.left p {
    padding-top:8%;
    font-size:210%;
    padding-left:0%;
    padding-right:0%;
}

.left .main_p_1 {
    font-size:150%;
    padding-left:25%;
    padding-top:unset;
} 

.left a {
    color:orange;
    font-size:120%;
    text-decoration:none;
    padding-left:34%;
    padding-bottom:10px;
}

.left a:hover {
    color:orange;
    font-size:120%;
    text-decoration:2px underline orange;
    padding-left:34%;
}

.left img {
    width:100%;
}

.right p {
    padding-top:2%;
    font-size:210%;
    padding-left:30%;
    padding-right:0%;
}

.right .main_p_1 {
    font-size:150%;
    padding-left:18%;
    padding-top:unset;
}

.right a {
    color:orange;
    font-size:120%;
    text-decoration:none;
    padding-left:34%;
    padding-bottom:0px;
}

.right a:hover {
    color:orange;
    font-size:120%;
    text-decoration:2px underline orange;
    padding-left:34%;
}

.right img {
    width:100%;
    height:100%;
}

.left .a {
    padding-top:6%;
    font-size:210%;
    padding-left:23%;
    padding-right:21%;
}

.right2 a {
    color:orange;
    font-size:120%;
    text-decoration:none;
    padding-left:34%;
    padding-bottom:0px;
}

.right2 a:hover {
    color:orange;
    font-size:120%;
    text-decoration:2px underline orange;
    padding-left:34%;
}

.right2 .main_p_1 {
    font-size:150%;
    padding-left:25%;
    padding-top:unset;
}

.right2 img {
    width:20%;
    height:100%;
    margin-bottom:20px;
}

.right2 p {
    padding-top:0%;
    font-size:210%;
    padding-left:37%;
}

.right2 {
    position: relative;
    right: 0px;
    width:47%;
    height:50%;
    left:52%;
    top:180%;
    background-color:white;
    float: right;
    padding:10px;
}

section {
    width:100%;
    height:50%;
    display: flex;
    justify-content: flex-start;
}

.footer {
    width:93.5%;
    height:100%;
    background-color:white;
    padding:30px;
}

.footer p {
    text-align: center;
    font-size:120%;
    height: 100px;
}

.footer iframe {
    width:35%;
    height:170%;
    margin-right:40px;
}

.right .img {
    width:48%;
    height:48%;
    margin-left: 105px;
}

.footer .big {
    font-family: sans-serif;
    font-size:200%;
    text-align: center;
    position: relative;
    float: top;
}

footer {
    background-color:black;
    width:100%;
    height:90%;
}

footer span {
    color:white;
    font-size:125%;
    font-family:sans-serif;
}

footer p {
    color:white;
}

.q, .w, .e {
    color:rgb(168, 168, 168);
    font-family:sans-serif;
    padding-left:60px;
    padding:10px;
}

.q:hover, .w:hover, .e:hover {
    color:rgb(255, 255, 255);
    text-decoration: 2px underline white;
}

.rel {
    position:relative;
    left:500px;
    bottom:275px;
}

footer a img {
    width:50px;
    height:50px;
    margin:20px;
    margin-left:0;
    border:2px solid white;
    border-radius:10px;
}
